{% extends 'sitewide/layout.html' %}
{% load static %}
{% block main %}
<!-- Replace the following HTML markup -->
<h2 class="mgn-t40px">Sitewide is Working!</h2>
<p class="mgn-t10px">
    This is a sample content. You can create yours with the steps below:<br>
    <ol>
        <li>Add a blank template to your preferred destination (either the
        app template folder or project templates folder.</li>
        <li>Put the following tags to the new template file:
            <code>
                <div>
                    {% verbatim %}{% extends 'sitewide/layout.html' %}{% endverbatim %}<br>
                    {% verbatim %}{% load static %}{% endverbatim %}<br>
                    {% verbatim %}{% block main %}{% endverbatim %}<br>
                     <em>** Add your HTML here **</em><br>
                    {% verbatim %}{% endblock %}{% endverbatim %}<br>
                </div>
            </code>
        </li>
        <li>
            Add your custon HTML markup within the <code>main</code> block (see
            above) and save the template.
        </li>
        <li>Point your View to the template.</li>
        <li><b>Enjoy the view!</b></li>
    </ol>
</p>
<h3 class="mgn-t20px">That's not all ...</h3>
<p class="mgn-t10px">
    What about the sidebar, the header and footer?  It looks too simple. Would
    you like to change the theme? Perhaps, you have other questions? Find our
    more from docs! <br>
    <b>Have fun!</b>
</p>
{% endblock %}
