<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="{% static sitewide.favicon %}" type="image/png" />
        {% include "sitewide/stylesheets.html" %}
        {% block appcss %}{% endblock %}
        {% block head %}{% endblock %}
        <title>{{ sitewide.titles.page }} | {{ sitewide.project }}</title>
    </head>
    <body>
        {% if sitewide.sidebar.show %}{% include "sitewide/sidebar.html" %}{% endif %}
        {% if sitewide.header.show %}{% include "sitewide/header.html" %}{% endif %}
        <main class="{% if sitewide.sidebar.show %}sidebar_show{% else %}sidebar_hide{% endif %}">
            {% if sitewide.banner.show %}<div class="banner" {% if sitewide.banner.image.path %}style="background-image: {{ sitewide.banner.image.path }}"{% endif %}></div>{% endif %}
            <div class="contents">
                {% block main %}{% endblock %}
            </div>
        </main>
        {% if sitewide.footer.show %}{% include "sitewide/footer.html" %}{% endif %}
    </body>
    <script src="{% static 'js/sidebar.js' %}"></script>
    {% block scripts %}{% endblock %}
</html>
