{% load static %}
{% if sitewide.sidebar.show %}<nav id="sidebar">
    {% if sitewide.sidebar.ref.tag == "user" %}<a id="avatar" href="{{ sitewide.user.url }}">
        <img src="{% static sitewide.user.avatar.path %}">
    </a>
    <a id="user" href="{{ sitewide.user.url }}">
        <h3>{{ sitewide.user.username.value }}</h3>
        <p>{{ sitewide.user.email.value }}</p>
    </a>{% endif %}
    {% if sitewide.sidebar.menu %}<ul class="menu">{% for item in sitewide.sidebar.menu.items %}
        <li>
            <a 
                class="item" 
                href="{% if item.menu %}javascript:subMenu('{{ item.menu.tag }}'){% else %}{{ item.url }}{% endif %}">
                <div>&#x{{ item.icon.hex }};</div>
                <div>{{ item.text.value }}</div>
            </a>{% if item.menu %}
            <ul class="submenu" id="{{ item.menu.tag }}">{% for subitem in item.menu.items %}
                <li>
                    <a class="subitem"
                       href="{{ subitem.url }}">
                        <div>&#x{{ subitem.icon.hex }};</div>
                        <div>{{ subitem.text.value }}</div>
                    </a>
                </li>{% endfor %}
            </ul>{% endif %}
        </li>{% endfor %}
    </ul>{% endif %}
</nav>{% endif %}
