{% load static %}
        <link href="{% static 'css/var.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'css/fonts.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'css/base.css' %}" rel="stylesheet" type="text/css" />
        {% if sitewide.sidebar.show %}<link href="{% static 'css/sidebar.css' %}" rel="stylesheet" type="text/css" />{% endif %}
        {% if sitewide.header.show %}<link href="{% static 'css/header.css' %}" rel="stylesheet" type="text/css" />{% endif %}
        {% if sitewide.footer.show %}<link href="{% static 'css/footer.css' %}" rel="stylesheet" type="text/css" />{% endif %}
        <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" />
