footer p {
    font-size: 0.8em;
}

footer .heading {
    font-size: 0.85em;
    font-weight: bold;
    margin-top: 7px;
}

footer .section:first-child {
    color: var(--footer-fg);
    background: var(--footer-bg);
}

footer .section:nth-child(2) {
    color: var(--footer-fg);
    background: var(--footer-alt-bg);
}


@media screen and (max-width: 768px) {

}

/* Mobile Devices, Phones */

@media screen and (max-width: 480px) {

}
