header .hamburger {
    color: var(--hamburger-fg);
    cursor: pointer;
    display: none;
    font-family: 'Material Icons';
    font-size: 24px;
    text-decoration: none;
}

header .logo img {
    min-height: var(--section-min-height);
    min-width: var(--section-min-height);
}

header .titles {
    min-width: var(--screen-width-inner-mgns);
}

header .titles h2 {
    font-size: 1em;
}

header .titles p {
    font-size: 0.75em;
}

header .hamburger:active, header .hamburger:focus {
    outline: 1px dashed white;
}

.header-bg {
    background: var(--header-bg);
}

/* iPads and Tablets */

@media screen and (max-width: 768px) {
    header .hamburger {
        display: block;
    }
}

/* Mobile Devices, Phones */

@media screen  and (max-width: 480px){
    header .hamburger {
        display: block;
    }
}
