:root {
    
    /* Theme Colors for Defaults
     * Provide Custom Stylesheet at Project/static/css/style.css */
    
    --beige-grey: ;
    --beige-ash: ;
    --bg: white;
    --bg-hover: ;
    --blue: ;
    --blue-accent: ;
    --blue-pale: ;
    --brown: ;
    --btn-bg: ;
    --btn-fg: ;
    --btn-hover-bg: ;
    --bth-hover-fg: white;
    --child-even-bg: ;
    --child-odd-bg: white;
    --code-bg: #e0ecef;
    --dark-blue: ;
    --dark-green: ;
    --dark-red: maroon;
    --dim-10th: rgba(0, 0, 0, 0.1);
    --expand-bg: white;
    --form-bg: var(--dim-10th);
    --form-border: gray;
    --form-header-bg: rgba(0, 0, 0, 0.2);
    --form-highlight: ;
    --form-select: ;
    --form-hr: ;
    --fresh: ;
    --green: ;
    --highlight-ash: #f5f5f5;
    --highlight-ring: ;
    --highlight-green: ;
    --highlight-orange: ;
    --highlight-purple: ;
    --highlight-red: ;
    --indicator: ;
    --indicator-hover: ;
    --indicator-submenu: ;
    --indicator-submenu-hover: ;
    --meta-bg: ;
    --meta-border: ;
    --msg-bg: #fff5df;
    --msg-border: ;
    --orange: ;
    --photo-frame: ;
    --purple: ;
    --dark-purple: ;
    --red: ;
    --search-bg: ;
    --search-border: ;
    --subform-bg: ;
    --tbl-hr-fg: ;
    --tbl-bg: ;
    --tbl-bg-alt: ;
  
    /* sections */
    --hamburger-fg: ;
    --section-min-height: 32px;

    /* sidebar */
    --sidebar-full-avatar: 90px;
    --sidebar-dock-avatar: 46px;
    --sidebar-icons-size: 18px;
    --sidebar-item-height: 32px;
    --sidebar-full: 256px;
    --sidebar-dock: 76px;
    --sidebar-fg: black;
    --sidebar-fg-hover: black;
    --sidebar-bg: #e7e7e7;
    --sidebar-bg-hover: ;
    --sidebar-submenu-fg: black;
    --sidebar-submenu-fg-hover: black;
    --sidebar-submenu-bg: #d1d4d5;
    --sidebar-submenu-bg-hover: ;
    --sidebar-user-fg: ;

    /* header and footer */
    --footer-fg: black;
    --footer-bg: #e0ecef;
    --footer-alt-bg: #d1d4d5;
    --header-fg: black;
    --header-bg: #e0ecef;
    --header-alt-bg: #e0ecef;

    /* buttons */
    --btn-height: 40px;
    --btn-outline: 2px;
    --btn-offset: 1px;
    --btn-padding: 14px;

    /* widgets and margins */
    /* device margins with lowest device width being 320px */
    --tag-column-gap: 10px;
    --tag-row-gap: 0px;
    --wgt-height: 40px;
    --mgns: 10px;
    --left-mgn: 10%;
    --right-mgn: 10%;
    --screen-min-width: 320px;
    --screen-width-outer-mgns: calc(var(--screen-min-width) - (2 * var(--mgns)));
    --screen-width-middle-mgns: calc(var(--screen-min-width) - (4 * var(--mgns))); 
    --screen-width-inner-mgns: calc(var(--screen-min-width) - (6 * var(--mgns))); 
}

